<ion-view view-title="{{tankName}} Upgrade Details">
    <ion-side-menus enable-menu-with-back-views="false">
        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-stable bar-positive has-tabs-top">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-android-menu" menu-toggle="left"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-tabs class="tabs-striped tabs-top tabs-positive">
                <ion-tab title="MAX">
                    <ion-nav-view>
                        <ion-content class="scroll-bg">
                            <div class="card">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">
                                            All MAX ({{tankDetails.max.allMax.levels}} Levels)
                                        </div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Attack:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.attack}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Fire Speed:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.fireSpeed|number:2}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Armor:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.armor}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Movement:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.movement|number:2}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-75">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Total Time:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.totalTime}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-75">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Total Price:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.totalPrice|currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-75">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Total Diamonds:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.allMax.totalDiamonds|currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">MAX Movement & Fire Speed</div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Attack:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.maxMovementFireSpeed.attack}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Fire Speed:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.maxMovementFireSpeed.fireSpeed|number:2}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Armor:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.maxMovementFireSpeed.armor}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Movement:</span>
                                                <span class="text-left item-content">
                                                    {{tankDetails.max.maxMovementFireSpeed.movement|number:2}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">Upgrade Calculator</div>
                                    </label>
                                </div>
                                <div class="item item-divider-android text-center positive">
                                    Select levels
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input" ng-click="selectLevel('turretLevel', $event)">
                                                <span class="input-label positive">Turret:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankLevels.turretLevel}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input" ng-click="selectLevel('barrelLevel', $event)">
                                                <span class="input-label positive">Barrel:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankLevels.barrelLevel}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input" ng-click="selectLevel('armorLevel', $event)">
                                                <span class="input-label positive">Armor:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankLevels.armorLevel}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input" ng-click="selectLevel('engineLevel', $event)">
                                                <span class="input-label positive">Engine:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankLevels.engineLevel}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input" ng-click="selectLevel('trucksLevel', $event)">
                                                <span class="input-label positive">Trucks:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankLevels.trucksLevel}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item item-divider-android text-center positive">
                                    Tank strength as per levels above
                                </div>
                                <div class="list positive">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Attack:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankStats.attack}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Fire Speed:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankStats.fireSpeed|number:2}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Armor:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankStats.armor}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Movement:</span>
                                                <span class="text-left item-content">
                                                    {{upgradeCalculator.tankStats.movement|number:2}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
                <!--<ion-tab title="TURRET">
                    <ion-nav-view>
                        <ion-header-bar class="bar bar-subheader">
                            <div class="item">
                                <div class="row">
                                    <div class="col">
                                        <label class="text-left item">
                                            <span class="text-left item-content my-smallText positive">
                                                Level
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                Attack
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                Fire Speed
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                Time
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                Price
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                Diamonds
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </ion-header-bar>
                        <ion-content class="scroll-bg has-subheader">
                            <div class="item">
                                <div class="row" ng-repeat="item in tankDetails.turret">
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                {{item.level}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                {{item.attack}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                {{item.fireSpeed}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                {{item.time}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                {{item.price | currency:'':0}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="text-left item my-smallText">
                                            <span class="text-left item-content my-smallText positive">
                                                {{item.diamonds}}
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
                -->
                <ion-tab title="TURRET">
                    <ion-nav-view>
                        <ion-content class="scroll-bg">
                            <div class="card" ng-repeat="item in tankDetails.turret">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">
                                            Level: {{item.level}} - Time: {{item.time}}
                                        </div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Attack:</span>
                                                <span class="text-left item-content">
                                                    {{item.attack}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Fire Speed:</span>
                                                <span class="text-left item-content">
                                                    {{item.fireSpeed}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Price:</span>
                                                <span class="text-left item-content">
                                                    {{item.price | currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Diamonds:</span>
                                                <span class="text-left item-content">
                                                    {{item.diamonds}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
                <ion-tab title="BARREL">
                    <ion-nav-view>
                        <ion-content class="scroll-bg">
                            <div class="card" ng-repeat="item in tankDetails.barrel">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">
                                            Level: {{item.level}} - Time: {{item.time}}
                                        </div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Attack:</span>
                                                <span class="text-left item-content">
                                                    {{item.attack}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Fire Speed:</span>
                                                <span class="text-left item-content">
                                                    {{item.fireSpeed}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Price:</span>
                                                <span class="text-left item-content">
                                                    {{item.price | currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Diamonds:</span>
                                                <span class="text-left item-content">
                                                    {{item.diamonds}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
                <ion-tab title="ARMOR">
                    <ion-nav-view>
                        <ion-content class="scroll-bg">
                            <div class="card" ng-repeat="item in tankDetails.armor">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">
                                            Level: {{item.level}} - Time: {{item.time}}
                                        </div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Armor:</span>
                                                <span class="text-left item-content">
                                                    {{item.armor}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Movement:</span>
                                                <span class="text-left item-content">
                                                    {{item.movement}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Price:</span>
                                                <span class="text-left item-content">
                                                    {{item.price | currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Diamonds:</span>
                                                <span class="text-left item-content">
                                                    {{item.diamonds}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
                <ion-tab title="ENGINE">
                    <ion-nav-view>
                        <ion-content class="scroll-bg">
                            <div class="card" ng-repeat="item in tankDetails.engine">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">
                                            Level: {{item.level}} - Time: {{item.time}}
                                        </div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Movement:</span>
                                                <span class="text-left item-content">
                                                    {{item.movement}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive"></span>
                                                <span class="text-left item-content">

                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Price:</span>
                                                <span class="text-left item-content">
                                                    {{item.price | currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Diamonds:</span>
                                                <span class="text-left item-content">
                                                    {{item.diamonds}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
                <ion-tab title="TRUCKS">
                    <ion-nav-view>
                        <ion-content class="scroll-bg">
                            <div class="card" ng-repeat="item in tankDetails.trucks">
                                <div class="item item-divider-android positive-bg">
                                    <label class="text-center">
                                        <div class="item-content largeTitle light">
                                            Level: {{item.level}} - Time: {{item.time}}
                                        </div>
                                    </label>
                                </div>
                                <div class="list-borderless">
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Armor:</span>
                                                <span class="text-left item-content">
                                                    {{item.armor}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Movement:</span>
                                                <span class="text-left item-content">
                                                    {{item.movement}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Price:</span>
                                                <span class="text-left item-content">
                                                    {{item.price | currency:'':0}}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-50">
                                            <label class="text-left item item-input">
                                                <span class="input-label positive">Diamonds:</span>
                                                <span class="text-left item-content">
                                                    {{item.diamonds}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-content>
                    </ion-nav-view>
                </ion-tab>
            </ion-tabs>
        </ion-pane>
        <ion-side-menu side="left" width="200">
            <ion-header-bar class="bar-stable bar-positive has-tabs-top">
                <h1 class="title">Menu</h1>
            </ion-header-bar>
            <ion-content class="scroll-bg">
                <ion-list>
                    <ion-item ng-click="goToTankList()">
                        Tank List
                    </ion-item>
                    <ion-item ng-repeat="tank in tanks" ng-click="goToUpgradeDetails(tank.name)" menu-close>
                        {{tank.name}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-view>